# Flutter/Dart
.dart_tool/
.packages
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
.idea/
.vscode/
*.log
*.pyc
.DS_Store
Thumbs.db
